In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sample.csv")

In [3]:
data.head(20)

,02/16/2016,00:00:14,402260,0,0.1,0.2,0.3,0.4,0.5,0.6,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,02/16/2016,00:00:14,402261,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/16/2016,00:00:14,402262,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02/16/2016,00:00:14,402263,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/16/2016,00:00:14,402264,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02/16/2016,00:00:14,402265,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02/16/2016,00:00:14,402266,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,02/16/2016,00:00:14,402267,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,02/16/2016,00:00:14,402268,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,02/16/2016,00:00:14,402269,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02/16/2016,00:00:14,402270,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,02/16/2016,00:00:14,402271,0.0,0.0,0.0,0,0.0,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,02/16/2016,00:00:14,402272,0.0,0.0,0.0,0,0.0,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,02/16/2016,00:00:44,402260,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,02/16/2016,00:00:44,402261,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,02/16/2016,00:00:44,402262,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,02/16/2016,00:00:44,402263,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,02/16/2016,00:00:44,402264,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,02/16/2016,00:00:44,402265,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,02/16/2016,00:00:44,402266,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,02/16/2016,00:00:44,402267,0.0,0.0,0.0,0,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 27 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   02/16/2016   999999 non-null  object
 1   00:00:14     999999 non-null  object
 2   402260       999999 non-null  int64
 3   0            999997 non-null  float64
 4   0.1          999997 non-null  float64
 5   0.2          999997 non-null  float64
 6   0.3          999999 non-null  int64
 7   0.4          999999 non-null  float64
 8   0.5          999999 non-null  int64
 9   0.6          999999 non-null  int64
 10  0.7          999999 non-null  float64
 11  0.8          999999 non-null  int64
 12  Unnamed: 12  307688 non-null  float64
 13  Unnamed: 13  307688 non-null  float64
 14  Unnamed: 14  307688 non-null  float64
 15  Unnamed: 15  153844 non-null  float64
 16  Unnamed: 16  153844 non-null  float64
 17  Unnamed: 17  153844 non-null  float64
 18  Unnamed: 18  0 non-null       float64
 19  Unnamed: 19  0 non-null       float64
 20  Unnamed: 20  0 non-null       float64
 21  Unnamed: 21  0 non-null       float64
 22  Unnamed: 22  0 non-null       float64
 23  Unnamed: 23  0 non-null       float64
 24  Unnamed: 24  0 non-null       float64
 25  Unnamed: 25  0 non-null       float64
 26  Unnamed: 26  0 non-null       float64
dtypes: float64(20), int64(5), object(2)
memory usage: 206.0+ MB